@font-face {
    font-family: "roboto-regular";
    src: url(fonts/roboto-regular-webfont.woff2);
}

@font-face {
    font-family: "roboto-medium";
    src: url(fonts/roboto-medium-webfont.woff2);
}

@font-face {
    font-family: "morning-breeze";
    src: url(fonts/morningbreeze-regular-webfont.woff2);
}

:root {
    --default-font: "roboto-regular", Arial, Helvetica Neue, Helvetica, sans-serif;
    --heading-font: "morning-breeze", var(--default-font);

    --maya-blue-clr: #86B6F6;
    --alice-blue-clr: #EBF5FF;
    --pale-cornflower-blue-clr: #B4D4FF;
    --sunset-orange-clr: #EB4C4C;
    --viking-blue-clr: #43B8CA;
    --white-clr: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--default-font);
}